body {
    background-color: #000000;
    font-family: inter;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    height: 100vh;
}
body img {
    width: 110px;
}
* {
    margin: 0;
}
main {
    display: flex;
    justify-content: space-between;
}
.block1 {
    width: 20%;
    gap: 24px;
    display: flex;
    flex-direction: column;
    height: max-content;
}
.search {
    background-color: #212121;
    display: flex;
    align-items: center;
    border-radius: 999px;
    padding: 6px 12px;
    gap: 8px;
}
.block3 .search {
    gap: 4px;
    width: max-content;
}
.search img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.img {
    width: 22px;
    height: 22px;
    object-fit: cover;
}
.search p {
    font-size: 12px;
    color: #808080;
    font-weight: 400;
}
.block3 .search p {
    color: white;
}
.maison {
    display: flex;
    gap: 8px;
    align-items: center;
}
.maison p {
    font-weight: 700;
    color: #ff3b5c;
    font-size: 12px;
    display: flex;
    align-self: center;
}
.items-nav {
    display: flex;
    gap: 8px;
}
.items-nav p {
    font-weight: 700;
    color: white;
    font-size: 12px;
    display: flex;
    align-self: center;
}
.auteur {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.auteur p {
    color: #7e7e7e;
    font-weight: 800;
    font-size: 10px;
}
.auteur p:last-child {
    font-weight: 500;
}
.block2 {
    width: 40%;
    position: relative;
    display: flex;
    gap: 20px;
}
video {
    width: 100%;
}
h2 {
    color: white;
    font-size: 16px;
    font-weight: 700;
}
.description p {
    color: #7e7e7e;
    font-weight: 500;
    font-size: 10px;
}
.description {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    left: 10px;
    bottom: 14px;
}
.bottom-block2 {
    display: flex;
    height: 4px;
}
.bottom-block2 div:first-child {
    width: 50%;
    background-color: #ff3b5c;
    border-bottom-left-radius: 12px;
}
.bottom-block2 div:last-child {
    width: 50%;
    background-color: #757575;
    border-bottom-right-radius: 12px;
}
.column-part {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: end;
}
.column-part img {
    width: 36px;
    height: 36px;
    border-radius: 999px;
    object-fit: cover;
}
.option-tiktok {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.option-tiktok img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.option-tiktok p {
    color: #aeaeae;
    font-size: 10px;
    font-weight: 500;
}
.block3 {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 18px;
    align-items: end;
}
.up-down {
    width: 36px;
    height: 36px;
    object-fit: cover;
}
